name: Build and Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Flower image
        uses: docker/build-push-action@v5
        with:
          context: ./server/flower_server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/flwr-aggregator:latest

      - name: Build and push FastAPI Bridge image
        uses: docker/build-push-action@v5
        with:
          context: ./server/fastapi_bridge
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-bridge:latest
