name: Deploy
on:
  workflow_run:
    workflows: ["Build and Push"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install ssh-agent
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Copy deploy script and run on server
        run: |
          scp -o StrictHostKeyChecking=no infra/deploy_on_server.sh ${{ secrets.SSH_USER }}@${{ secrets.AWS_HOST }}:/tmp/deploy_on_server.sh
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.AWS_HOST }} 'bash /tmp/deploy_on_server.sh'
